.loader-wrapper {
    text-align: center;
    margin: 1rem 0;
    z-index: 50000;
    .loader {
   
      border: 10px solid #000;
      border-bottom-color: transparent;
      border-radius: 100%;
      display: inline-block;
      box-sizing: border-box;
      animation: rotation 1s linear infinite;
    }
  }
  

  
  
  @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 