.updateModule{
    position: fixed;
    top:0;
    bottom: 0;
    left:0;
    right:0;
    background-color: rgba(0,0,0,0.5);
    z-index: 1000;
    height: 100%;

    .update-message{
        position: absolute;
        top:50%;
        left: 50%;
        transform: translate(-50%,-50%);
        background-color: #fff;
        width: 90%;
        padding:2rem 1rem;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        @media screen and (min-width:400px) {
            width: 50%;
          }
          .updateModuleCloseBtn{
            position:absolute;
            top:5px;
            right: 5px;
            font-size: 1.2rem;
            cursor: pointer;
         }
       p{
        font-size: 0.5rem;
       }
        .update-message-body{
            font-size: 0.7rem;
            letter-spacing: 1px;
        }
        .download-upload-btn{
            border:none;
            background-color: #0294bc;
            color:#fff;
            padding:0.5rem 0.5rem;
            margin:1rem 0;
            border-radius: 5px;
            border:1px solid transparent;
            transition:all 0.2s ease-in-out;
            cursor: pointer;
            &:hover{
                background-color: #fff;
                color:#0294bc;
                border:1px solid #0294bc;
            }
        }
        .upsate-version{
      
            font-size:0.6rem;
            letter-spacing: 1px;
            span{
                color:red;
            }
        }
    }
}